body{
    background-color: black;
}
/* Flexbox setup to center the images inside the carousel */
.carousel{
    justify-content: center;
    justify-items: center;
    margin-top: 70px;
    margin-left:  auto;
    margin-right:  auto;
}

.carousel-item img{
    /* margin-top: 70px;*/
    margin-left:  auto;
    margin-right:  auto;
    width: 50%;
}

.welcome {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

}

.welcome > h1 ,h5{
    color: white;
    text-align: center;
}

.source {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.card-text{
    text-align: justify;
}
  

.bawah {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.about{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
.workout{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.paragraf{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: white;
    padding: 30px;
}

.illustration{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.illustration img{
    width: 300px;
    border: 5px solid blue;
}